# Build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Compiled objects
*.o
*.obj
*.a
*.so
*.dylib
*.out

# Generated data
*.csv

# Misc
.DS_Store
*/.DS_Store

# Env
.venv
.vscode/

# Executables
main
src/main
